.Header{
    margin-top:20px;
    width:  100%;
    text-align: center;
}
.head{
    display: flex;
    width: 100%;
}
.handler_home > h3{
    margin-top: 30px;
    margin-left: 120px;
    cursor: pointer;
}
.handler_home{
    width: 400px;
    text-align: center;
}
.tab_section_true{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #61dafb;
    color: white;
    font-size: 18px;
}

.tab_section_false{
    display: none;
}
.tab_button{
    padding: 15px;
    height: 100%;
    flex:1;
}
.tab_section > .tab_button_1{
    border-right: 1px solid white;
}
.tab_section > .tab_button_2{
    border-right: 1px solid white;
}

.tab_section > .tab_button_3{
    border-right: 1px solid white;
}

.tab_section > .tab_button_4{
    border-right: 1px solid white;
}
.header_section{
    display: flex;
}
.login_section{
    top: 10px;
    width: 260px;
    height: 80px;
    border-radius: 5px;
    background-color: #646cff;
}
.mode_section{
    top: 10px;
    width: 160px;
    height: 30px;
}
.id_section{
    margin-left: 15px;
}
.button_section{
    margin-top: 5px;
}
.mode_section > button{
    border: none;
    margin-top: 5px;
    background-color: firebrick;
}


