.move_button{
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.button_myPage{;
    background-color: white;
    color: deepskyblue;
}
.button_logout{
    background-color: white;
    color: crimson;
}
.button_delete_user{
    background-color: white;
    color: crimson;
}
.button_create_user{
    background-color: white;
    color: dodgerblue;
}

.button_create_board{
    background-color: white;
    color: #535bf2;
    width: 140px;
    font-size: 20px;

}
.button_select{
    background-color: #535bf2;
    color: white;
}
.button_not_select{
    background-color: white;
    color: black;
    border: black;
}
.button_write_board{
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #646cff;
    margin-right: 10px;
}
.button_write_cancel{
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: red;
    margin-right: 10px;
}
.button_valid_id{
    text-decoration: none;
    border-radius: 5px;
    margin: 0;

}
.button_created_user{
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #646cff;
    margin-right: 10px;
}
.button_canceled_user{
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: red;
    margin-left: 10px;
}

.button_valid_nick{
    text-decoration: none;
    border-radius: 5px;
}